@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clashgrotesk";
  src: url("/fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clashgrotesk";
  src: url("/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clashgrotesk";
  src: url("/fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*
Colors
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  color: #3a3d3e;
  background-color: #f6f5f9;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6, .text-black {
  color: #121212;
}

h1, .clashgrotesk {
  font-family: "Clashgrotesk";
}

header {
  max-width: 700px;
}
header h1 {
  font-size: 3.5rem;
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #ededed;
}
.hero img {
  margin-bottom: -100px;
}

.screenshots {
  display: block;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.round-shadow, .left-round-shadow {
  box-shadow: 0 0 0 1px rgba(25, 0, 65, 0.08), 0 16px 24px -8px rgba(25, 0, 65, 0.12);
  border-radius: 12px;
}

.left-round-shadow {
  border-radius: 12px 0 0 12px;
}

section .wrp {
  max-width: 1280px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}
.grid.grid-six {
  grid-template-columns: repeat(6, 1fr);
}
.grid.grid-two {
  grid-template-columns: repeat(2, 1fr);
}
.grid.grid-four {
  grid-template-columns: repeat(4, 1fr);
}
.grid.grid-five {
  grid-template-columns: repeat(5, 1fr);
}
.grid.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

.small-caps {
  font-variant: all-small-caps;
}

.integration-item {
  background-color: white;
  border: 0.1875rem solid #000;
  border-radius: 0.5rem;
  box-shadow: 11px 10px 0 0 #121212;
  -webkit-transition: box-shadow 500ms cubic-bezier(1, 0, 0, 1);
  transition: box-shadow 500ms cubic-bezier(1, 0, 0, 1);
}
.integration-item:hover {
  box-shadow: none;
}
.integration-item .integration-img-resize {
  -o-object-fit: contain;
  object-fit: contain;
}
.integration-item .integration-image, .integration-item .integration-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 8.75rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #f5f6f8;
}
.integration-item .integration-title {
  text-align: center;
  font-family: Clashgrotesk;
}

@media screen and (min-width: 60em) {
  .grid.grid-two-l {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.grid-four-l {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.grid-three-l {
    grid-template-columns: repeat(3, 1fr);
  }
}
.border-all {
  border: 1px solid #E6E6E6;
}

.border-top {
  border-top: 1px solid #E6E6E6;
}

.border-bottom {
  border-bottom: 1px solid #E6E6E6;
}

.feature-wrp {
  background-color: #f6f5f9;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.feature-wrp > .flex:nth-child(even) {
  background-color: white;
}
.feature-wrp > .flex:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.label {
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #edebf9;
  letter-spacing: 2px;
  color: #3721d9;
}
.label.label-green {
  background-color: #def4eb;
  color: #109360;
}
.label.label-blue {
  background-color: #d9e0fe;
  color: #344898;
}

.bg-black {
  background-color: #121213;
}

.off-white {
  color: #E6E6E6;
}

.box {
  background-color: #fff;
  border-radius: 16px;
}
.box img {
  border-radius: 16px 16px 0 0;
  display: block;
}

.fade {
  color: #636369;
}

nav .link, nav a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
nav .link:hover, nav .link.active, nav a:hover, nav a.active {
  text-decoration: none;
  border-bottom: 1px solid #222;
}
nav .link.logo:hover, nav a.logo:hover {
  text-decoration: none;
  border: 0;
}
nav svg {
  margin-left: 4px;
  width: 18px;
  height: 18px;
}
nav .subwrp {
  position: absolute;
  display: none;
  left: 0;
  margin: 0 8em;
}
nav .subwrp .sub {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
nav .subwrp .sub a {
  text-decoration: none;
  font-weight: normal;
  border-bottom: 0;
}
nav .subwrp .sub a:hover, nav .subwrp .sub a.active {
  border-bottom: 0;
}
nav .subwrp .sub a:hover .lh-title, nav .subwrp .sub a.active .lh-title {
  color: #105DFB;
}
nav .subhover:hover .subwrp {
  display: block;
}
nav .hamburger {
  display: none;
}
nav .hamburger .menu {
  display: none;
  transition: background-color 0.2s ease-out;
  position: absolute;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(25, 0, 65, 0.08), 0 16px 24px -8px rgba(25, 0, 65, 0.12);
  margin: 10px;
  padding: 10px;
  width: calc(100% - 20px);
}
nav .hamburger .menu li {
  list-style: none;
}
nav .hamburger .menu li a {
  display: block;
  padding: 10px;
}
nav .hamburger .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
nav .hamburger .menu-icon .navicon {
  background-color: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 20px;
}
nav .hamburger .menu-icon .navicon:before, nav .hamburger .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
nav .hamburger .menu-icon .navicon:before {
  top: 6px;
}
nav .hamburger .menu-icon .navicon:after {
  top: -6px;
}
nav .hamburger .menu-btn {
  display: none;
}
nav .hamburger .menu-btn:checked ~ .menu {
  display: block;
  background-color: #fff;
}
nav .hamburger .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
nav .hamburger .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
nav .hamburger .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
nav .hamburger .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, nav .hamburger .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 60em) {
  nav .ns {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
}
.pattern-bg {
  background: url(/images/pattern.svg) bottom repeat-x;
}

.cta {
  background-color: #c6a9ff;
  position: relative;
  margin-bottom: -50px;
}

a {
  text-decoration: none;
  color: #3721d9;
}
a:hover {
  text-decoration: underline;
}
a.abox {
  color: #3a3d3e;
}
a.abox:hover {
  text-decoration: none;
  background-color: #fff;
  border-radius: 16px;
}

button,
.button {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  display: inline-block;
  background-color: #121212;
  border-radius: 8px;
  border: 1px solid #121212;
  padding: 8px 12px;
  color: #FFF;
  white-space: nowrap;
}
button:hover,
.button:hover {
  background-color: #333;
  text-decoration: none;
}
button.big,
.button.big {
  padding: 15px;
}
button.alt,
.button.alt {
  background-color: #fff;
  color: #121212;
}
button.alt:hover,
.button.alt:hover {
  background-color: #f6f5f9;
  border-color: #444;
}

footer {
  background-color: #121212;
}
footer .copyright {
  color: #89898e;
}
footer .copyright a {
  color: #636369;
  text-decoration: none;
}
footer .copyright a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-item-list {
  display: flex;
  flex-direction: column;
}
footer .footer-item-list a {
  color: #ccc;
  text-decoration: none;
  background: linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)), linear-gradient(to right, rgb(214, 212, 212), rgb(255, 255, 255));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
footer .footer-item-list a:hover, footer .footer-item-list a:focus {
  color: #fff;
  background-size: 0 0.1em, 100% 0.1em;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
