<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" property="og:title" content="Engage Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Latest News At Engage" />

    <meta
      name="og:title"
      property="og:title"
      content="The Title of Your Article"
    />
    <meta name="twitter:card" content="summary" />
    <link rel="canonical" href=" https://engage.so/" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/story.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <title>Engage Blog</title>
  </head>
  <body class="max-w-screen-2xl 2xl:mx-auto 2xl:bg-gray-200">
    <section
      id="app"
      class="relative"
      :class="show ? 'overflow-hidden h-screen' : 'null'"
    >
      <!-- Desktop Nav -->
      <nav
        class="flex justify-between items-center lg:py-16 py-10 lg:px-24 px-8"
      >
        <header class="">
          <a href="/blog/index.html">
            <img src="/images/engage.png" alt="" />
          </a>
        </header>

        <!-- Icon for displaying Mobile nav -->

        <button
          id="menuBtn"
          class="hamburger block sm:hidden focus:outline-none"
          type="button"
          @click="displayNav()"
        >
          <span class="hamburger__top-bun"></span
          ><span class="hamburger__bottom-bun"></span>
        </button>
        <ul
          class="lg:flex hidden justify-between items-center font-semibold text-lg text-black"
        >
          <li class="__list">
            <a href="#">Pricing</a>
          </li>
          <li class="ml-12 __list">
            <a href="#">About</a>
          </li>
          <li class="ml-12 __list">
            <a href="#">Blog</a>
          </li>
        </ul>
        <div class="lg:flex hidden justify-between">
          <button
            class="__button focus:outline-none text-lg font-semibold mr-5"
          >
            Login
          </button>
          <button
            class="__register rounded-2xl py-3 px-6 text-white font-semibold focus:outline-none"
          >
            Register - It’s free
          </button>
        </div>
      </nav>

      <!-- Mobile Nav -->
      <div
        class="fixed top-0 right-0 w-screen h-screen lg:hidden flex items-center bg-gray-600 __opacity z-20"
        v-if="show"
      >
        <nav class="w-2/3 relative h-full __side_nav">
          <div>
            <ul class="text-center text-lg text-black">
              <li class="__list">
                <a href="#" @click="displayNav()">Pricing</a>
              </li>
              <li class="__list mt-3">
                <a href="#" @click="displayNav()">About</a>
              </li>
              <li class="__list mt-3">
                <a href="#" @click="displayNav()">Blog</a>
              </li>
            </ul>
          </div>
          <div class="text-center mt-4">
            <button
              class="__button focus:outline-none text-lg font-semibold"
              @click="displayNav()"
            >
              Login
            </button>

            <div class="text-center mt-4">
              <button
                class="__register rounded-2xl py-3 px-6 text-white font-semibold focus:outline-none"
                @click="displayNav()"
              >
                Register - It’s free
              </button>
            </div>
          </div>
        </nav>
      </div>
      <!-- tags -->
      <div class="lg:flex block items-center lg:px-24 px-8">
        <div class="flex items-center">
          <a href="/blog/index.html">
            <img src="/images/back.png" alt="" />
          </a>
          <a href="/blog/index.html" class="ml-2">
            <p class="font-semibold text-xs __back">GO BACK</p>
          </a>
        </div>
        <!-- tags -->
        <div
          class="lg:flex block justify-between items-center __adjust lg:ml-20 lg:mt-0 mt-8"
        >
          <div class="lg:mr-6">
            <p class="text-base text-black font-semibold __list">
              Popular Tags:
            </p>
          </div>
          <div class="lg:flex __change grid grid-cols-2 gap-4 lg:mt-0 mt-8">
            <div
              class="__tags py-2 px-5"
              v-for="(title, i) in tags"
              :key="i"
              :style="{background:title.background}"
            >
              <a
                :href="title.link"
                class="text-sm __list font-semibold"
                :style="{color:title.color}"
              >
                {{title.description}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- blog topic -->
      <header class="mt-10 lg:px-24 px-8">
        <h1
          class="lg:text-5xl md:text-4xl text-lg __heading font-semibold lg:w-3/4 w-full"
        >
          How the pandemic brought about a billion dollar company
        </h1>
      </header>
      <!-- Author -->
      <div class="lg:mt-2 mt-8 flex items-center lg:px-24 pl-8">
        <div class="">
          <img src="/images/image 6.png" class="rounded-full" alt="" />
        </div>
        <div class="lg:flex block items-center">
          <div class="ml-3">
            <p class="text-sm font-semibold __name">Victor</p>
          </div>

          <div class="flex items-center lg:mt-0 mt-2">
            <div class="mx-4">
              <img src="/images/Ellipse 9.png" alt="" />
            </div>
            <div>
              <p class="text-xs __date">Posted; 14th July, 2020</p>
            </div>
          </div>

          <div class="flex items-center lg:mt-0 mt-2">
            <div class="mx-4">
              <img src="/images/Ellipse 9.png" alt="" />
            </div>
            <div>
              <p class="text-xs __date">12 mins read</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Socials -->
      <div
        class="mt-12 flex justify-between items-center lg:w-1/4 md:w-1/3 w-1/2 lg:px-24 px-8 __social"
      >
        <div>
          <a href="">
            <img src="/images/Vector (1).png" alt="" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="/images/Vector (2).png" alt="" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="/images/Vector (3).png" alt="" />
          </a>
        </div>
      </div>
      <!-- subtopic -->
      <div class="lg:px-24 px-8 mt-12 relative">
        <div>
          <img src="/images/Rectangle 20.png" class="w-full" alt="" />
        </div>
        <div class="lg:inline md:inline hidden absolute __topic py-8 px-12">
          <div>
            <p class="text-xs font-semibold __note">PAGES NOTES</p>
          </div>
          <div class="flex flex-col mt-10">
            <div v-for="(title, a) in topic" :key="a">
              <div class="flex justify-between items-center">
                <div>
                  <p
                    class="text-xs text-white font-semibold text-opacity-70 __list"
                  >
                    {{title.point}}
                  </p>
                </div>
                <div class="ml-20 w-full">
                  <p class="text-sm text-white font-semibold __list">
                    {{title.subTopic}}
                  </p>
                </div>
              </div>
              <div class="my-6" :class="title.class"></div>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-sm __date">Picture by: unsplash.com</p>
        </div>
      </div>
      <!-- content -->
      <div class="lg:px-24 px-8 lg:mt-32 mt-8 md:mt-48">
        <!-- First Subtopic -->
        <div class="lg:flex md:flex block justify-between items-start">
          <div class="lg:w-1/5 md:w-1/5 w-full">
            <h2 class="text-4xl font-semibold __sub">What is Engage?</h2>
          </div>
          <div class="lg:w-3/4 md:w-2/3 w-full lg:mt-0 md:mt-0 mt-8">
            <h4 class="text-2xl font-semibold __subtopic lg:w-3/4 w-full">
              We’re here to enrich customer messaging for growth and retention
            </h4>
            <p class="text-base __content mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.<br /><br />

              Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit
              amet.
            </p>
            <div class="mt-10">
              <img src="/images/Rectangle 39.png" alt="" />
            </div>
          </div>
        </div>
        <!-- second subtopic -->
        <div
          class="lg:flex md:flex block justify-between items-start lg:mt-32 md:mt-20 mt-8"
        >
          <div class="lg:w-1/5 md:w-1/5 w-full">
            <h2 class="text-4xl font-semibold __sub">Our Ambitions</h2>
            <p class="mt-4 text-lg __date font-semibold">
              <i
                >“Ambitions are there to push you forward and not draw you
                back”</i
              >
            </p>
          </div>
          <div class="lg:w-3/4 md:w-2/3 w-full lg:mt-0 md:mt-0 mt-8">
            <h4 class="text-2xl font-semibold __subtopic lg:w-3/4 w-full">
              We’re here to enrich customer messaging for growth and retention
            </h4>
            <p class="text-base __content mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.<br /><br />

              Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit
              amet. Ut enim ad minim veniam.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
              dolor sit amet.<br /><br />

              Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit
              amet. Ut enim ad minim veniam.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
              dolor sit amet.
            </p>
          </div>
        </div>
        <!-- third topic -->
        <div
          class="lg:flex md:flex block justify-between items-start lg:mt-32 md:mt-20 mt-8"
        >
          <div class="lg:w-1/5 md:w-1/5 w-full">
            <h2 class="text-4xl font-semibold __sub">Driving the future!</h2>
          </div>
          <div class="lg:w-3/4 md:w-2/3 w-full lg:mt-0 md:mt-0 mt-8">
            <h4 class="text-2xl font-semibold __subtopic lg:w-3/4 w-full">
              We’re here to enrich customer messaging for growth and retention
            </h4>
            <p class="text-base __content mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.<br /><br />

              Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit
              amet.
            </p>
            <div class="mt-10">
              <img src="/images/Rectangle 40.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div
        class="__footer mt-24 lg:flex md:flex block items-start pb-24 pt-12 lg:pl-24 pl-8"
      >
        <div class="flex flex-col lg:w-2/5 md:w-1/3 w-full">
          <div>
            <img src="/images/image 4.png" alt="" />
          </div>
          <div>
            <p class="text-sm __name font-semibold mt-2">
              Customer messaging for growth and retention
            </p>
          </div>
          <div
            class="lg:mt-10 md:mt-10 mt-4 flex justify-between items-center lg:w-1/4 lg:w-1/4 w-1/3"
          >
            <div>
              <a href="">
                <img src="/images/Vector (1).png" alt="" />
              </a>
            </div>
            <div>
              <a href="">
                <img src="/images/Vector (2).png" alt="" />
              </a>
            </div>
            <div>
              <a href="">
                <img src="/images/Vector (3).png" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="flex lg:w-3/5 md:w-3/5 w-full lg:mt-0 md:mt-0 mt-16">
          <div class="flex flex-col">
            <div>
              <a href="#" class="__name font-semibold text-lg"
                >Platform guide</a
              >
            </div>
            <div class="mt-5">
              <a href="#" class="__name font-semibold text-lg">Api docs</a>
            </div>
            <div class="mt-5">
              <a href="#" class="__name font-semibold text-lg">SDK</a>
            </div>
          </div>
          <div class="flex flex-col ml-24">
            <div>
              <a href="#" class="__name font-semibold text-lg">Login</a>
            </div>
            <div class="mt-5">
              <a href="#" class="__name font-semibold text-lg">Pricing</a>
            </div>
            <div class="mt-5">
              <a href="#" class="__name font-semibold text-lg">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            show: false,
            tags: [
              {
                description: "NEWS",
                background: "rgba(47, 128, 237, 0.15)",
                color: "#2F80ED",
                code: "News",
                link: "/blog/blogs.html",
              },
              {
                description: "DESIGN",
                background: "rgba(242, 153, 74, 0.15)",
                color: "#F2994A",
                code: "Design",
                link: "/blog/blogs.html",
              },
              {
                description: "IN-HOUSE",
                background: "rgba(155, 81, 224, 0.15)",
                color: "#9B51E0",
                code: "House",
                link: "/blog/blogs.html",
              },
              {
                description: "DEVELOPMENT",
                background: "rgba(50, 186, 133, 0.15)",
                color: " #32BA85",
                code: "Development",
                link: "/blog/blogs.html",
              },
            ],
            topic: [
              {
                point: "01",
                subTopic: "What is Engage",
                class: "__line",
              },
              {
                point: "02",
                subTopic: "Our Ambitions",
                class: "__line",
              },
              {
                point: "03",
                subTopic: "Our Vision",
                class: "__line",
              },
              {
                point: "04",
                subTopic: "Driving the future",
                class: "",
              },
            ],
          };
        },
        methods: {
          displayNav() {
            this.show = !this.show;
            var btn = document.getElementById("menuBtn");
            var nav = document.getElementById("menu");
            btn.classList.toggle("open");
            nav.classList.toggle("flex");
            nav.classList.toggle("hidden");
          },
        },
      });
    </script>
  </body>
</html>
