
  <!-- it works, just throws an error because it is expecting css which I am including -->
   <div style="background-color: {{ include.background-color }}" data-animation="default" class="nav_component w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="05d09ee1-cd19-cf9b-0801-964b5b8a517c" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
        <div class="page-padding">
          <nav class="nav_container">
            <a href="/" class="nav_logo-link w-inline-block"><img src="../images/Engage-logo.svg" loading="lazy" alt="engage logo" class="nav_logo"></a>
            <nav role="navigation" class="nav_center-wrapper w-nav-menu">
              <div data-hover="true" data-delay="0" data-w-id="bdd6bc0d-21f2-8a32-3f40-16410fc2260f" class="nav_link-wrapper w-dropdown">
                <nav class="dropdown-toggle w-dropdown-toggle">
                  <div class="dropdown-toggle_icon w-icon-dropdown-toggle"></div>
                  <div>Features</div>
                </nav>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="dropdown_list-menu">
                    <div class="page-padding">
                      <div class="container-large">
                        <div class="menu-item_wrapper is-additional-column">
                          <a data-w-id="b8934b04-cff6-6b68-3d15-672bad5467b5" href="../features/customer-segmentation" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Customer segmentation</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Group your customers based on their data.</p>
                          </a>
                          <a data-w-id="b8934b04-cff6-6b68-3d15-672bad5467bc" href="../features/automation" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Automation</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Keep onboarding, conversion and retention messages on autopilot.</p>
                          </a>
                          <a data-w-id="b8934b04-cff6-6b68-3d15-672bad5467c3" href="../features/broadcasts" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Multichannel broadcasts</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Send targeted campaigns through multiple channels</p>
                          </a>
                          <a data-w-id="b8934b04-cff6-6b68-3d15-672bad5467c3" href="../features/help-center" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Help center</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Scale your customer support; help customers find the answers they are looking for.</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div data-hover="true" data-delay="0" data-w-id="33e8afdb-cd8f-1525-0c77-65c3229f6ef8" class="nav_link-wrapper w-dropdown">
                <nav class="dropdown-toggle w-dropdown-toggle">
                  <div class="dropdown-toggle_icon w-icon-dropdown-toggle"></div>
                  <div>Use cases</div>
                </nav>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="dropdown_list-menu">
                    <div class="page-padding">
                      <div class="container-large">
                        <div class="menu-item_wrapper is-additional-column">
                          <a data-w-id="77ff558c-e335-0dee-944d-cd83213d54ac" href="../use-cases/onboarding" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Onboarding</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Guide customers on next steps with message automation.</p>
                          </a>
                          <a data-w-id="77ff558c-e335-0dee-944d-cd83213d54b3" href="../use-cases/retention" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Retention</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Identify active and inactive customers with segmentation and incentivize.</p>
                          </a>
                          <a data-w-id="77ff558c-e335-0dee-944d-cd83213d54ba" href="../use-cases/stripe-payment-notifications" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Billing notifications and reminders</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Automatically send failure notifications, payment receipts and more.</p>
                          </a>
                          <a data-w-id="d227ab1d-ca4e-b9da-6ba6-7a690ea10aa4" href="../use-cases/transactional-email-analytics" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Transactional email analytics</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">See what email was opened, clicked, failed and more.</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div data-hover="true" data-delay="0" data-w-id="a219801d-4607-76d7-3a9c-7f425e56b456" class="nav_link-wrapper w-dropdown">
                <nav class="dropdown-toggle w-dropdown-toggle">
                  <div class="dropdown-toggle_icon w-icon-dropdown-toggle"></div>
                  <div>Resources</div>
                </nav>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="dropdown_list-menu">
                    <div class="page-padding">
                      <div class="container-large">
                        <div class="menu-item_wrapper is-additional-column">
                          <a data-w-id="56f55da8-d115-fe95-893a-3881573dc95e" href="https://engage.so/docs/" target="_blank" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Documentation</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Explore our robust knowledge base on using Engage.</p>
                          </a>
                          <a data-w-id="56f55da8-d115-fe95-893a-3881573dc965" href="https://engage.so/docs/api/" target="_blank" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">API</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">View how Engage interacts with data and requests.</p>
                          </a>
                          <a data-w-id="56f55da8-d115-fe95-893a-3881573dc96c" href="https://engage.so/docs/sdks/" target="_blank" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">SDKs</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">Get quick information on how to interact with Engage API.</p>
                          </a>
                          <a data-w-id="c3a18321-f7ae-d5ad-4f64-e1225f6825ad" href="https://engage.so/blog/" target="_blank" class="menu-item w-inline-block">
                            <div class="menu-item_title-wrapper">
                              <h4 class="menu-item_title">Blog</h4><img src="../images/menu-item-icon.svg" loading="lazy" width="16" alt="arrow icon" class="menu-item_icon">
                            </div>
                            <p class="paragraph-body is-max-width-large">See relevant information to help level-up your messaging.</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <nav class="nav_link-wrapper underline">
                <a href="../integrations" class="nav_link">Integrations</a>
                <div class="nav_link-underline"></div>
              </nav>
              <nav class="nav_link-wrapper underline">
                <a href="../pricing" aria-current="page" class="nav_link w--current">Pricing</a>
                <div class="nav_link-underline"></div>
              </nav>
            </nav>
            <div class="nav_right-wrapper">
              <div class="nav_link-wrapper underline is-margin-right-custom-medium">
                <a href="https://app.engage.so/auth/login" class="nav_link custom-text-weight-bold">Login</a>
                <div class="nav_link-underline"></div>
              </div>
              <div data-w-id="308a20e9-1057-a21a-5498-61a6293ca667" class="button-link-wrapper is-margin-none">
                <a onclick="return gtag_report_conversion('https://engage.so/');" href="https://app.engage.so/auth/signup" class="button w-inline-block">
                  <div class="button-link-text">Sign up free</div>
                </a>
                <div class="button-stroke"></div>
              </div>
            </div>
            <div class="nav_menu-button w-nav-button">
              <div data-is-ix2-target="1" class="menu-hamburger" data-w-id="b8c96be8-5401-d580-1b76-b7649b9f4221" data-animation-type="lottie" data-src="../documents/hamburger-menu-animation.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1.5" data-duration="0" data-ix2-initial-state="0"></div>
            </div>
          </nav>
        </div>
      </div>



