.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
  position: absolute;
  z-index: 44;
  font-size: xx-large;
  font-weight: bold !important;
  right: 51px;
}

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
  background-color: white !important;
  font-weight: bold;
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
  background-color: white !important;
  font-weight: bold;
}
.__side_nav {
  padding-top: 30%;
  background: white;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.__close {
  right: 30px;
  top: 30px;
}
.__opacity {
  opacity: 0.95;
}
.__list {
  font-family: "Poppins";
}
.__button {
  color: #0c56c2;
  font-family: "Poppins";
}
.__register {
  background-color: #0c56c2;
  font-family: "Poppins";
}
.__back {
  color: #0c56c2;
  font-family: "Poppins";
}
.__adjust {
  width: 54%;
}
.__hint {
  width: 45%;
}
.__tags {
  border-radius: 30px;
}
.__heading {
  font-family: "Poppins";
  line-height: 72px;
  color: #001a41;
}
.__name {
  color: #001a41;
  font-family: "Poppins";
}
.__date {
  color: #828282;
  font-family: "Poppins";
}
.__topic {
  right: 156px;
  bottom: -27px;
  background: #001a41;
  border-radius: 20px;
}
.__note {
  color: #32ba85;
  font-family: "Poppins";
}
.__line {
  border-top: 1.5px solid white;
  opacity: 0.2;
}
.__sub {
  color: #001a41;
  font-family: "Poppins";
  line-height: 57.6px;
}
.__subtopic {
  color: #121212;
  font-family: "Poppins";
  line-height: 38.4px;
}
.__content {
  font-family: "Inter";
  line-height: 25.6px;
  color: #333333;
}
.__footer {
  background: #dee5ef2e;
}
@media only screen and (min-width: 1050px) and (max-width: 1300px) {
  .__adjust {
    width: 60% !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1030px) {
  .__adjust {
    width: 75% !important;
  }
  .__social {
    width: 30% !important;
  }
  .__heading {
    width: 100%;

    margin-top: 4rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 800px) {
  .__hint {
    width: 100% !important;
  }
  .__note {
    width: 100% !important;
  }
  .__headline {
    font-size: 40px !important;
  }
  .__heading {
    line-height: 57px !important;
  }
  .__topic {
    right: 100px !important;
    bottom: -117px !important;
  }
}
@media only screen and (max-width: 700px) {
  .__hint {
    width: 100% !important;
  }
  .__heading {
    line-height: 30px !important;
  }
  .__note {
    width: 100% !important;
  }
  .__headline {
    font-size: 24px !important;
    line-height: 34px !important;
    text-align: left !important;
  }
  .__adjust {
    width: 100% !important;
  }
}
