<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" property="og:title" content="Engage Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Latest News At Engage" />
    <!-- <meta property="og:url" content="https://mailintel.io/blog/" /> -->
    <!-- <meta
      name="og:title"
      property="og:title"
      content="The Title of Your Article"
    />
    <meta name="twitter:card" content="summary" /> -->
    <link rel="canonical" href=" https://engage.so/" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/tailwind.css" />

    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <title>Engage Blog</title>
    <style>
      * {
        margin: 0;
        box-sizing: border-box;
      }
      .__list,
      .__articleTag {
        font-family: "Poppins";
      }
      .__button {
        color: #0c56c2;
        font-family: "Poppins";
      }
      .__register {
        background-color: #0c56c2;
        font-family: "Poppins";
      }
      .__heading {
        color: #001a41;
        font-family: "Poppins";
        font-size: 64px;
      }
      .__green {
        color: #32ba85;
        font-family: "Poppins";
      }
      .__input {
        color: #bdbdbd;
        font-family: "Poppins";
        background: #f2f2f2;
        border: 2px solid #bdbdbd;
        border-radius: 18px;
        opacity: 0.6;
      }
      .__input::placeholder {
        color: #bdbdbd;
        font-family: "Poppins";
      }
      .__search {
        background-color: #2f80ed42;
        top: 11px;
        left: 12px;
        bottom: 11px;
      }
      .__hint {
        width: 45%;
      }
      .__tags,
      .__articleTag {
        border-radius: 30px;
      }
      .__note {
        width: 42%;
      }
      .__news {
        border-radius: 30px;
        background: rgba(47, 128, 237, 0.15);
        color: #2f80ed;
        font-family: "Poppins";
      }
      .__time {
        color: #121212;
        font-family: "Poppins";
      }
      .__headline {
        color: #001a41;
        font-family: "Poppins";
        line-height: 54px;
      }
      .__text {
        font-family: "Inter";
        line-height: 25.6px;
        color: #828282;
      }
      .__name {
        color: #001a41;
        font-family: "Poppins";
      }
      .__date {
        color: #828282;
        font-family: "Poppins";
      }
      .__article {
        min-height: 262px;
      }

      .__short {
        background: #dee5ef57;
      }
      .__read {
        border-radius: 20px;
      }
      .__summary {
        line-height: 22.4px;
        font-family: "Inter";
        color: #828282;
      }
      .__blog {
        width: 290rem;
      }
      .__each {
        width: 380px;
      }
      .__eachImage {
        min-height: 166px;
      }

      .push {
        max-width: 300rem;
        scroll-padding: 0;
      }
      .push::-webkit-scrollbar {
        display: none !important;
      }
      .__movie {
        background: #b9ffd6;
      }
      .__development {
        background-color: rgba(50, 186, 133, 0.15);
        color: #32ba85;
      }
      .__mobile {
        background: #e7e4ff;
        border-radius: 25px;
      }
      .__ad {
        color: #6c5ce7;
        font-family: "Poppins";
      }
      .__call {
        background: #f4d9ff;
      }
      .__house {
        background-color: rgba(155, 81, 224, 0.15);
        color: #9b51e0;
      }
      .__footer {
        background: #dee5ef2e;
      }
      .transition-fade {
        transition: 0.4s;
        opacity: 1;
      }

      html.is-animating .transition-fade {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <section id="app">
      <!-- {{title }}
      <p class="text-red-900 text-2xl">food</p> -->
      <!-- navbar -->
      <nav class="flex justify-between items-center py-16 px-24">
        <header class="">
          <a href="/blog/index.html">
            <img src="/images/engage.png" alt="" />
          </a>
        </header>
        <ul
          class="flex justify-between items-center font-semibold text-lg text-black"
        >
          <li class="__list">
            <a href="#">Pricing</a>
          </li>
          <li class="ml-12 __list">
            <a href="#">About</a>
          </li>
          <li class="ml-12 __list">
            <a href="#">Blog</a>
          </li>
        </ul>
        <div class="flex justify-between">
          <button
            class="__button focus:outline-none text-lg font-semibold mr-5"
          >
            Login
          </button>
          <button
            class="__register rounded-2xl py-3 px-6 text-white font-semibold focus:outline-none"
          >
            Register - It’s free
          </button>
        </div>
      </nav>
      <main id="swup" class="transition-fade">
        <header class="mt-20 text-center">
          <h1 class="font-semibold __heading">Our blog about</h1>
          <h3 class="__green text-5xl font-semibold">Engage & the media</h3>
        </header>
        <!-- first -->
        <div class="flex justify-between items-center mt-20 mx-24">
          <div class="relative w-2/5">
            <input
              type="text"
              placeholder="Search articles"
              class="__input text-sm py-4 pl-16 w-full focus:outline-none"
            />
            <div class="absolute __search rounded-xl p-2">
              <img src="/images/search.png" alt="" />
            </div>
          </div>
          <div class="flex justify-between items-center __hint">
            <div class="mr-5">
              <p class="text-sm text-black font-semibold __list">Tags:</p>
            </div>
            <div
              class="__tags py-2 px-5"
              v-for="(title, i) in tags"
              :key="i"
              :style="{background:title.background}"
            >
              <a
                :href="title.link"
                class="text-sm __list font-semibold"
                :style="{color:title.color}"
              >
                {{title.description}}
              </a>
            </div>
          </div>
        </div>
        <!-- second -->
        <div class="flex mt-20 justify-between items-start mx-24">
          <div class="w-1/2">
            <img src="/images/Rectangle 20.png" alt="" />
          </div>
          <div class="__note flex flex-col">
            <div class="flex items-center">
              <div class="__news py-2 px-5 text-xs font-semibold">NEWS</div>
              <div class="mx-3">
                <img src="/images/Ellipse 9.png" alt="" />
              </div>
              <div>
                <p class="__time text-xs font-semibold">12 mins read</p>
              </div>
            </div>
            <div class="mt-10 cursor-pointer">
              <h5 class="text-4xl font-semibold __headline">
                <a href="/blog/story.html">
                  How the pandemic brought about a billion dollar company</a
                >
              </h5>
              <p class="text-base font-semibold __text mt-3">
                <a href="/blog/story.html">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </a>
              </p>
            </div>
            <div class="mt-8 flex items-center">
              <div class="">
                <img src="/images/image 6.png" class="rounded-full" alt="" />
              </div>
              <div class="ml-3">
                <p class="text-sm font-semibold __name">Victor</p>
                <p class="text-xs __date">Posted; 14th July, 2020</p>
              </div>
            </div>
          </div>
        </div>
        <!-- third -->
        <div class="flex justify-between items-start mt-20 mx-16">
          <div
            class="flex flex-col w-1/3 mx-5"
            v-for="(detail, a) in firstSet"
            :key="a"
          >
            <div
              class="__tags py-16"
              :style="{background:detail.articleBackground}"
            >
              <img
                :src="`/images/${detail.banner}`"
                class="mx-auto __article"
                alt=""
              />
            </div>
            <div class="flex items-center mt-8">
              <div
                class="__articleTag py-2 px-5 text-xs font-semibold"
                :style="{background:detail.background, color:detail.color}"
              >
                {{detail.description}}
              </div>
              <div class="mx-3">
                <img src="/images/Ellipse 9.png" alt="" />
              </div>
              <div>
                <p class="__time text-xs font-semibold">{{detail.time}}</p>
              </div>
            </div>
            <div class="mt-4">
              <h4 class="text-2xl font-semibold __name">{{detail.title}}</h4>
              <p class="text-base font-semibold __text mt-2">
                {{detail.summary}}
              </p>
            </div>
            <div class="mt-5 flex items-center">
              <div class="">
                <img
                  :src="`/images/${detail.image}`"
                  class="rounded-full"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <p class="text-sm font-semibold __name">{{detail.name}}</p>
                <p class="text-xs __date">Posted: {{detail.date}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- fourth -->
        <div class="pl-24 py-10 __short mt-20 w-full">
          <div class="mb-8">
            <h5 class="font-semibold text-5xl __name">Short reads</h5>
          </div>

          <div class="flex items-start push overflow-x-scroll">
            <div
              class="flex justify-between items-start __blog"
              v-for="(read, b) in blog"
              :key="b"
            >
              <div
                class="__read py-8 __each"
                :style="{background:read.background}"
              >
                <img
                  :src="`/images/${read.banner}`"
                  class="mx-auto __eachImage"
                  alt=""
                />
              </div>
              <div class="flex flex-col ml-8 mr-20 w-3/4">
                <div class="">
                  <h5 class="text-lg font-semibold __name">{{read.title}}</h5>
                  <div class="mt-2 text-sm __summary">{{read.summary}}</div>
                </div>
                <div class="mt-4 flex items-center">
                  <div class="">
                    <img
                      :src="`/images/${read.image}`"
                      class="rounded-full"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="text-sm font-semibold __name">{{read.name}}</p>
                    <p class="text-xs __date">Posted; {{read.date}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center mt-12">
            <div class="flex items-center">
              <div>
                <img src="/images/left.png" alt="" />
              </div>
              <div class="ml-5">
                <img src="/images/right.png" alt="" />
              </div>
            </div>
            <ul class="flex items-center text-sm font-semibold mr-24">
              <li class="__name">01</li>
              <li class="__date ml-3">02</li>
              <li class="__date ml-3">03</li>
              <li class="__date ml-3">04</li>
            </ul>
          </div>
        </div>
        <!-- fifth -->
        <div class="flex justify-between mx-16 mt-20">
          <div class="flex flex-col w-1/3 mx-5">
            <div class="__tags py-16 __movie">
              <img src="/images/movie.png" class="mx-auto __article" alt="" />
            </div>
            <div class="flex items-center mt-8">
              <div
                class="__articleTag py-2 px-5 text-xs font-semibold __development"
              >
                DEVELOPMENT
              </div>
              <div class="mx-3">
                <img src="/images/Ellipse 9.png" alt="" />
              </div>
              <div>
                <p class="__time text-xs font-semibold">20 mins read</p>
              </div>
            </div>
            <div class="mt-4">
              <h4 class="text-2xl font-semibold __name">
                Automating transactional emails using Engage
              </h4>
              <p class="text-base font-semibold __text mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad.
              </p>
            </div>
            <div class="mt-5 flex items-center">
              <div class="">
                <img src="/images/image 5.png" class="rounded-full" alt="" />
              </div>
              <div class="ml-3">
                <p class="text-sm font-semibold __name">Ope Obembe</p>
                <p class="text-xs __date">Posted 2 days ago</p>
              </div>
            </div>
          </div>
          <div class="py-16 __mobile flex flex-col w-1/3 mx-5">
            <div class="text-center">
              <p class="font-bold __ad text-2xl">
                Introducing!<br />Engage Mobile
              </p>
            </div>
            <div class="mt-8">
              <img src="/images/Group 76.png" class="mx-auto" alt="" />
            </div>
          </div>
          <div class="flex flex-col w-1/3 mx-5">
            <div class="__tags py-16 __call">
              <img src="/images/call.png" class="mx-auto __article" alt="" />
            </div>
            <div class="flex items-center mt-8">
              <div class="__articleTag py-2 px-5 text-xs font-semibold __house">
                IN-HOUSE
              </div>
              <div class="mx-3">
                <img src="/images/Ellipse 9.png" alt="" />
              </div>
              <div>
                <p class="__time text-xs font-semibold">20 mins read</p>
              </div>
            </div>
            <div class="mt-4">
              <h4 class="text-2xl font-semibold __name">
                Our team culture is so unbeatable
              </h4>
              <p class="text-base font-semibold __text mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad.
              </p>
            </div>
            <div class="mt-5 flex items-center">
              <div class="">
                <img src="/images/image 9.png" class="rounded-full" alt="" />
              </div>
              <div class="ml-3">
                <p class="text-sm font-semibold __name">Lizzy Izzy</p>
                <p class="text-xs __date">Posted 2 weeks ago</p>
              </div>
            </div>
          </div>
        </div>
        <!-- sixth -->
        <div class="flex justify-between items-start mt-20 mx-16">
          <div
            class="flex flex-col w-1/3 mx-5"
            v-for="(detail, d) in secondSet"
            :key="d"
          >
            <div
              class="__tags py-16"
              :style="{background:detail.articleBackground}"
            >
              <img
                :src="`/images/${detail.banner}`"
                class="mx-auto __article"
                alt=""
              />
            </div>
            <div class="flex items-center mt-8">
              <div
                class="__articleTag py-2 px-5 text-xs font-semibold"
                :style="{background:detail.background, color:detail.color}"
              >
                {{detail.description}}
              </div>
              <div class="mx-3">
                <img src="/images/Ellipse 9.png" alt="" />
              </div>
              <div>
                <p class="__time text-xs font-semibold">{{detail.time}}</p>
              </div>
            </div>
            <div class="mt-4">
              <h4 class="text-2xl font-semibold __name">{{detail.title}}</h4>
              <p class="text-base font-semibold __text mt-2">
                {{detail.summary}}
              </p>
            </div>
            <div class="mt-5 flex items-center">
              <div class="">
                <img
                  :src="`/images/${detail.image}`"
                  class="rounded-full"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <p class="text-sm font-semibold __name">{{detail.name}}</p>
                <p class="text-xs __date">Posted: {{detail.date}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="__footer mt-24 flex items-start pb-24 pt-12 pl-24">
          <div class="flex flex-col w-2/5">
            <div>
              <img src="/images/image 4.png" alt="" />
            </div>
            <div>
              <p class="text-sm __name font-semibold mt-2">
                Customer messaging for growth and retention
              </p>
            </div>
            <div class="mt-10 flex justify-between items-center w-1/4">
              <div>
                <a href="">
                  <img src="/images/Vector (1).png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="/images/Vector (2).png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="/images/Vector (3).png" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="flex w-3/5">
            <div class="flex flex-col">
              <div>
                <a href="#" class="__name font-semibold text-lg"
                  >Platform guide</a
                >
              </div>
              <div class="mt-5">
                <a href="#" class="__name font-semibold text-lg">Api docs</a>
              </div>
              <div class="mt-5">
                <a href="#" class="__name font-semibold text-lg">SDK</a>
              </div>
            </div>
            <div class="flex flex-col ml-24">
              <div>
                <a href="#" class="__name font-semibold text-lg">Login</a>
              </div>
              <div class="mt-5">
                <a href="#" class="__name font-semibold text-lg">Pricing</a>
              </div>
              <div class="mt-5">
                <a href="#" class="__name font-semibold text-lg">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
    <script>
      const swup = new Swup();
      const articles = [
        {
          articleBackground: "#b9ffd6",
          banner: "diving.png",
          description: "DEVELOPMENT",
          background: "rgba(50, 186, 133, 0.15)",
          color: " #32BA85",
          time: "20 mins read",
          title: " Automating transactional emails using Engage",
          summary:
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
          image: "image 7.png",
          name: "Oyewole “samsoft” Abayomi",
          date: " 2 days ago",
        },
        {
          articleBackground: "#FFE6CB",
          banner: "home.png",
          description: "DESIGN",
          background: "rgba(242, 153, 74, 0.15)",
          color: " #F2994A",
          time: "6 mins read",
          title: " Engage’s design system in 3 steps",
          summary:
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
          image: "image 8.png",
          name: "Onoriode",
          date: "; 4th January,2021",
        },
        {
          articleBackground: "#F4D9FF",
          banner: "call.png",
          description: "IN-HOUSE",
          background: "rgba(155, 81, 224, 0.15)",
          color: " #9B51E0",
          time: "6 mins read",
          title: " Our team culture is so unbeatable",
          summary:
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
          image: "image 9.png",
          name: "Lizzy Izzy",
          date: " 2 weeks ago",
        },
        {
          articleBackground: "#b9ffd6",
          banner: "diving.png",
          description: "DEVELOPMENThhh",
          background: "rgba(50, 186, 133, 0.15)",
          color: " #32BA85",
          time: "20 mins read",
          title: " Automating transactional emails using Engage",
          summary:
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
          image: "image 7.png",
          name: "Oyewole “samsoft” Abayomi",
          date: " 2 days ago",
        },
        {
          articleBackground: "#FFE6CB",
          banner: "home.png",
          description: "DESIGN",
          background: "rgba(242, 153, 74, 0.15)",
          color: " #F2994A",
          time: "6 mins read",
          title: " Engage’s design system in 3 steps",
          summary:
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
          image: "image 8.png",
          name: "Onoriode",
          date: "; 4th January,2021",
        },
        {
          articleBackground: "#F4D9FF",
          banner: "call.png",
          description: "IN-HOUSE",
          background: "rgba(155, 81, 224, 0.15)",
          color: " #9B51E0",
          time: "6 mins read",
          title: " Our team culture is so unbeatable",
          summary:
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
          image: "image 9.png",
          name: "Lizzy Izzy",
          date: " 2 weeks ago",
        },
      ];

      new Vue({
        el: "#app",
        data() {
          return {
            tags: [
              {
                description: "NEWS",
                background: "rgba(47, 128, 237, 0.15)",
                color: "#2F80ED",
                code: "News",
                link: "/blog/blogs.html",
              },
              {
                description: "DESIGN",
                background: "rgba(242, 153, 74, 0.15)",
                color: "#F2994A",
                code: "Design",
                link: "/blog/blogs.html",
              },
              {
                description: "IN-HOUSE",
                background: "rgba(155, 81, 224, 0.15)",
                color: "#9B51E0",
                code: "House",
                link: "/blog/blogs.html",
              },
              {
                description: "DEVELOPMENT",
                background: "rgba(50, 186, 133, 0.15)",
                color: " #32BA85",
                code: "Development",
                link: "/blog/blogs.html",
              },
            ],

            blog: [
              {
                background: " #cbe8ff",
                banner: "todo.png",
                title: " Managing your time as a freelancer",
                summary:
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
                image: "image 9.png",
                name: "Lizzy Izzy",
                date: "4th January,2021",
              },
              {
                background: " #E2DEFF",
                banner: "Health.png",
                title: " Productivity tips for remote teams",
                summary:
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
                image: "image 6.png",
                name: "Victor",
                date: "Posted; 12th January,2021",
              },
              {
                background: " #FFEDCB",
                banner: "happy.png",
                title: " Managing your time as a freelancer",
                summary:
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
                image: "image 9.png",
                name: "Lizzy Izzy",
                date: "4th January,2021",
              },
              {
                background: " #cbe8ff",
                banner: "todo.png",
                title: " Managing your time as a freelancer",
                summary:
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
                image: "image 9.png",
                name: "Lizzy Izzy",
                date: "4th January,2021",
              },
              {
                background: " #E2DEFF",
                banner: "Health.png",
                title: " Productivity tips for remote teams",
                summary:
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
                image: "image 6.png",
                name: "Victor",
                date: "Posted; 12th January,2021",
              },
              {
                background: " #FFEDCB",
                banner: "happy.png",
                title: " Managing your time as a freelancer",
                summary:
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doo v eiusmod tempor incididunt ut labore et ,dolore magna aliqua. Utenim ad minim veniam.",
                image: "image 9.png",
                name: "Lizzy Izzy",
                date: "4th January,2021",
              },
            ],
            firstSet: articles.slice(0, 3),
            secondSet: articles.slice(3, 6),
          };
        },
      });
    </script>
  </body>
</html>
