<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{page.title}}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.description}}">
  <meta name="slack-app-id" content="A6566DWTS">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@600,700&family=Fira+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/tachyons.css">
  <link rel="stylesheet" href="/css/monokai.css">
  <link rel="stylesheet" href="/css/docs.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0RZDZT8GDG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0RZDZT8GDG');
  </script>
</head>
<body>
  <div class="flex f5">
    <div class="w-20 pa4 sidebar fixed">
      <div class="mb4">
        <a href="/docs"><img src="/images/engage-docs-logo.png" style="width:100%;max-width:150px"></a>
      </div>

      <!-- <div class="mv4">
        <input type="search" placeholder="Search..." class="w-100">
      </div> -->
      <ul class="nav">
        <li><a href="/docs"{% if page.page == 'intro' %} class="active"{% endif %}>Introduction</a></li>
      </ul>

      <h3 class="mb1 small-caps faint">Platform guide</h3>
      <ul class="nav">
        <li><a href="/docs/guides/connecting-user-data"{% if page.page == 'bringing-users' %} class="active"{% endif %}>Connecting customer data</a></li>
        <li><a href="/docs/guides/segments"{% if page.page == 'segments' %} class="active"{% endif %}>Segmenting customers</a></li>
        <li><a href="/docs/guides/broadcasts"{% if page.page == 'broadcasts' %} class="active"{% endif %}>Broadcasts</a></li>
        <li><a href="/docs/guides/automations"{% if page.page == 'automations' %} class="active"{% endif %}>Automations</a></li>
        <li><a href="/docs/guides/lists"{% if page.page == 'lists' %} class="active"{% endif %}>Lists</a></li>
        <li><a href="/docs/guides/mtu"{% if page.page == 'mtu' %} class="active"{% endif %}>MTU</a></li>
        <li><a href="/docs/guides/tags"{% if page.page == 'tags' %} class="active"{% endif %}>Personalisation tags</a></li>
        <li><a href="/docs/guides/templates"{% if page.page == 'templates' %} class="active"{% endif %}>Templates management</a></li>
        <li><a href="/docs/guides/member-roles"{% if page.page == 'member-roles' %} class="active"{% endif %}>Team member roles</a></li>
      </ul>

      <h3 class="mb1 small-caps faint">Channels</h3>
      <ul class="nav">
        <li><a href="/docs/channels/web-inapp"{% if page.page == 'webinapp' %} class="active"{% endif %}>Web in-app</a></li>
      </ul>

      <h3 class="mb1 small-caps faint">Integrations</h3>
      <ul class="nav">
        <!-- <li><a href="/docs/integrations/paystack"{% if page.page == 'ps' %} class="active"{% endif %}>Paystack</a></li> -->
        <li>
          <a href="/docs/api">API</a>
          <ul class="nav ml3">
            <li><a href="/docs/api"{% if page.page == 'api-intro' %} class="active"{% endif %}>Introduction</a></li>
            <li><a href="/docs/api/users"{% if page.page == 'api-users' %} class="active"{% endif %}>Users</a></li>
            <li><a href="/docs/api/lists"{% if page.page == 'api-lists' %} class="active"{% endif %}>Lists</a></li>
          </ul>
        </li>
        <li>
          <a href="/docs/sdks">SDKs</a>
          <ul class="nav ml3">
            <li><a href="/docs/sdks/javascript"{% if page.page == 'sdk-js' %} class="active"{% endif %}>JavaScript</a></li>
            <li><a href="/docs/sdks/php"{% if page.page == 'sdk-php' %} class="active"{% endif %}>PHP</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="w-80 pv4 ph5 mainbar">
      <div class="w-70-l w-100">
        <article class="pb5 docs">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</body>
</html>
