<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.title}}" property="og:title" />
  <meta content="{{page.title}}" property="twitter:title" />
  <meta content="{{page.description}}" property="og:description" />
  <meta content="{{page.description}}" property="twitter:description" />
  <meta content="{{page.og_img}}" property="og:image" />
  <meta content="{{page.og_img}}" property="twitter:image" />
  <meta property="og:type" content="website" />
  <meta content="summary_large_image" name="twitter:card" />
  <link href="/css/tachyons.css" rel="stylesheet">
  <link href="/css/style.css?081023b" rel="stylesheet">
  <link href="/images/favicon.svg" rel="shortcut icon" type="image/x-icon" />
  <link href="/images/webclip.svg" rel="apple-touch-icon" />
  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_Yny3sy3Fo2u4hcFF80Mw92jaIXHzlLQHvgP6fEC03Hy',{api_host:'https://app.posthog.com'})
  </script>
  <script>(function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');</script>
  <script async src='https://r.wdfl.co/rw.js' data-rewardful='e3d775'></script>
  <body>
    <nav class="ph6-l ph4 pv3 flex justify-between items-center relative">
      <div><a href="/" class="logo"><img src="/images/engage-logo.svg" alt="Engage logo" title="Home"></a></div>
      <div class="flex ns">
        <div class="pa2 mh2 subhover">
          <div class="link flex items-center">Features <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
          <div class="subwrp">
            <div class="sub">
              <a href="/features/crm" class="w-25 pa3 f6{% if page.page == 'crm' %} active{% endif %}">
                <div class="lh-title fw5 pb1">CRM</div>
                <div class="fade lh-copy">Manage, track and view customer engagement and data.</div>
              </a>
              <a href="/features/customer-segmentation" class="w-25 pa3 f6{% if page.page == 'segmentation' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Customer Segmentation</div>
                <div class="fade lh-copy">Group customers automatically based on data.</div>
              </a>
              <a href="/features/broadcasts" class="w-25 pa3 f6{% if page.page == 'campaigns' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Multichannel campaigns</div>
                <div class="fade lh-copy">Send personalized campaigns via email, SMS, push and more.</div>  
              </a>
              <a href="/features/automation" class="w-25 pa3 f6{% if page.page == 'automation' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Automation</div>
                <div class="fade lh-copy">Automate engagement through the user's journey.</div>  
              </a>
              <a href="/features/help-center" class="w-25 pa3 f6{% if page.page == 'help' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Help Center</div>
                <div class="fade lh-copy">Create and manage a help center for your site.</div>  
              </a>
              <a href="/features/inbox" class="w-25 pa3 f6{% if page.page == 'inbox' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Shared Inbox</div>
                <div class="fade lh-copy">Manage email and other communication tools as a team.</div>  
              </a>
              <a href="/features/forms-and-pages" class="w-25 pa3 f6{% if page.page == 'forms' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Subscription forms and Pages</div>
                <div class="fade lh-copy">Create forms and landing pages for conversion.</div>  
              </a>
              <a href="/features/live-chat" class="w-25 pa3 f6{% if page.page == 'chat' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Live Chat</div>
                <div class="fade lh-copy">Communicate with customers in real-time.</div>  
              </a>
              <a href="/features/banners" class="w-25 pa3 f6{% if page.page == 'banners' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Banners</div>
                <div class="fade lh-copy">Display targeted notifications in-app.</div>  
              </a>
              <!--a href="/features/tours" class="w-25 pa3 f6">
                <div class="lh-title fw5 pb1">Product tours</div>
                <div class="fade lh-copy">Guide customers on next within your app.</div>  
              </a-->
              <a href="/features/transactional" class="w-25 pa3 f6{% if page.page == 'trx' %} active{% endif %}">
                <div class="lh-title fw5 pb1">Transactional messaging</div>
                <div class="fade lh-copy">Send emails, SMS and push notifications from your app.</div>  
              </a>
            </div>
          </div>
        </div>
        <div class="pa2 mh2 subhover">
          <div class="link flex items-center">Resources <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
          <div class="subwrp">
            <div class="sub">
              <a href="https://docs.engage.so/en-us/" target="_blank" class="w-25 pa3 f6">
                <div class="lh-title fw5 pb1">Documentation</div>
                <div class="fade lh-copy">Explore our robust knowledge base on using Engage.</div>
              </a>
              <a href="https://docs.engage.so/en-us/c/62bb227ee41842a785276167-api" target="_blank" class="w-25 pa3 f6">
                <div class="lh-title fw5 pb1">API</div>
                <div class="fade lh-copy">View how Engage interacts with data and requests.</div>
              </a>
              <a href="https://docs.engage.so/en-us/c/62bb228ae41842a785276cb6-sdks" target="_blank" class="w-25 pa3 f6">
                <div class="lh-title fw5 pb1">SDKs</div>
                <div class="fade lh-copy">Get quick information on how to interact with Engage API.</div>  
              </a>
              <a href="https://engage.so/blog" target="_blank" class="w-25 pa3 f6">
                <div class="lh-title fw5 pb1">Blog</div>
                <div class="fade lh-copy">See relevant information to help level-up your messaging.</div>  
              </a>
            </div>
          </div>
        </div>
        <div class="pa2 mh2"><a href="/integrations"{% if page.page == 'integrations' %} class="active"{% endif %}>Integrations</a></div>
        <div class="pa2 mh2"><a href="/pricing"{% if page.page == 'pricing' %} class="active"{% endif %}>Pricing</a></div>
      </div>
      <div class="ns">
        <a href="https://app.engage.so/auth/login" class="alt button">Login</a>
        <a href="https://app.engage.so/auth/signup" class="button">Sign up free</a>
      </div>
      <div class="hamburger">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li class="pa2">Features</li>
          <li><a href="/features/crm">&rarr; CRM</a></li>
          <li><a href="/features/customer-segmentation">&rarr; Customer Segmentation</a></li>
          <li><a href="/features/broadcasts">&rarr; Multichannel campaigns</a></li>
          <li><a href="/features/automation">&rarr; Automation</a></li>
          <li><a href="/features/help-center">&rarr; Help Center</a></li>
          <li><a href="/features/inbox">&rarr; Shared Inbox</a></li>
          <li><a href="/features/forms-and-pages">&rarr; Subscription forms and Pages</a></li>
          <li><a href="/features/live-chat">&rarr; Live Chat</a></li>
          <li><a href="/features/banners">&rarr; Banners</a></li>
          <li><a href="/features/transactional">&rarr; Transactional messaging</a></li>
          <li><a href="/integrations">Integrations</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="https://app.engage.so/auth/login" class="border-top">Login</a></li>
          <li><a href="https://app.engage.so/auth/signup">Sign up free</a></li>
        </ul>
      </div>
    </nav>

    {{content}}

    <footer class="pa6-l ph4 pv6">
      <div class="mb5"><img src="/images/engage-logo-white.svg" loading="lazy" alt="Engage logo"></div>

      <div class="grid grid-four-l grid-two">
        <div>
          <div>
            <div class="f3 fw5 pb3 white clashgrotesk ma0">Guides</div>
            <nav class="footer-item-list">
              <div class="pv2"><a href="https://docs.engage.so/en-us/a/62d2c15da168cece13b23cb7-how-to-connect-customer-data" target="_blank">Connecting Customer Data</a></div>
              <div class="pv2"><a href="https://engage.so/blog/introduction-to-personalised-customer-messaging/" target="_blank">Introduction to Personalized Customer Messaging</a></div>
              <div class="pv2"><a href="https://engage.so/blog/how-to-automate-birthday-message-with-engage/" target="_blank">How to automate customers' birthday messages</a></div>
            </nav>
          </div>
          <div class="mt4">
            <div class="f3 fw5 pb3 white clashgrotesk ma0">Developers</div>
            <nav class="footer-item-list">
              <div class="pv2"><a href="https://docs.engage.so/en-us/" target="_blank">Documentation</a></div>
              <div class="pv2"><a href="https://docs.engage.so/en-us/c/62bb227ee41842a785276167-api" target="_blank">API Documentation</a></div>
              <div class="pv2"><a href="/integrations">Integrations</a></div>
              <div class="pv2"><a href="https://docs.engage.so/en-us/c/62bb228ae41842a785276cb6-sdks" target="_blank">SDKs</a></div>
            </nav>
          </div>
        </div>
        <div>
          <div>
            <div class="f3 fw5 pb3 white clashgrotesk ma0">Features</div>
            <nav class="footer-item-list">
              <div class="pv2"><a href="/features/crm">CRM</a></div>
              <div class="pv2"><a href="/features/customer-segmentation">Customer Segmentation</a></div>
              <div class="pv2"><a href="/features/broadcasts" >Multichannel campaigns</a></div>
              <div class="pv2"><a href="/features/automation">Automation</a></div>
              <div class="pv2"><a href="/features/help-center">Help Center</a></div>
              <div class="pv2"><a href="/features/inbox">Shared Inbox</a></div>
              <div class="pv2"><a href="/features/forms-and-pages">Signup Forms and Pages</a></div>
              <div class="pv2"><a href="/features/live-chat">Live Chat</a></div>
              <div class="pv2"><a href="/features/banners">Banners</a></div>
              <div class="pv2"><a href="/features/transactional">Transactional messaging</a></div>
            </nav>  
          </div>
          <div class="mt4">
            <div class="f3 fw5 pb3 white clashgrotesk ma0">Projects</div>
            <nav class="footer-item-list">
              <div class="pv2"><a href="https://mailready.info/" target="_blank">Mailready</a></div>
              <div class="pv2"><a href="https://www.martomation.com/" target="_blank">Martomation</a></div>
            </nav>
          </div>
        </div>
        <div>
          <div class="f3 fw5 pb3 white clashgrotesk ma0">Use Cases</div>
          <nav class="footer-item-list">
            <div class="pv2"><a href="/use-cases/onboarding">Onboarding</a></div>
            <div class="pv2"><a href="/use-cases/retention">Retention</a></div>
            <div class="pv2"><a href="/use-cases/payment-notifications">Automate Billing Notifications and Reminders</a></div>
            <div class="pv2"><a href="/use-cases/transactional-email-analytics">Transaction Email Analytics</a></div>
            <div class="pv2"><a href="/use-cases/engage-customers-from-posthog">Customer messaging for PostHog</a></div>
            <div class="pv2"><a href="/use-cases/engage-customers-from-segment">Customer messaging for Twilio Segment</a></div>
          </nav>
        </div>
        <div>
          <div>
            <div class="f3 fw5 pb3 white clashgrotesk ma0">Company</div>
            <nav class="footer-item-list">
              <div class="pv2"><a href="/about">About Us</a></div>
              <div class="pv2"><a href="https://engage.so/blog/">Blog</a></div>
              <!-- <div class="pv2"><a href="/affiliate">Affiliate Program</a></div> -->
            </nav>
          </div>
          <div class="mt4">
            <div class="f3 fw5 pb3 white clashgrotesk ma0">Contact</div>
            <nav class="footer-item-list">
              <div class="pv2"><a href="mailto:hello@engage.so">hello@engage.so</a>
            </nav>
          </div>
        </div>
      </div>
      <div class="f6 copyright flex flex-wrap justify-between items-center mt5">
        <div class="footer-images flex items-center">
          <div class="footer-icons">
            <a href="https://www.instagram.com/engage_messaging/" class="pr3"><img src="/images/icons/instagram-fill.svg" loading="lazy" alt="Instagram icon links to engage Instagram"></a>
            <a href="https://www.youtube.com/@engagemessaging" class="pr3"><img src="/images/icons/youtube.svg" loading="lazy" alt="Youtube icon links to Engage on Youtube"></a>
            <a href="https://twitter.com/engage_so" class="pr3"><img src="/images/icons/twitter-fill.svg" loading="lazy" alt="Twitter (X) icon links to engage twitter"></a>
            <a href="https://www.linkedin.com/company/engage-messaging/" class="pr3"><img src="/images/icons/linkedin-box-fill.svg" loading="lazy" alt="LinkedIn icon links to engage LinkedIn"></a>
          </div>
        </div>
        <div>
          <span class="pr3">Copyright © Engage {{ site.time | date: '%Y' }}</span> <a href="/cookie-policy">Cookie</a> <a href="/privacy-policy" class="ph2">Privacy Policy</a> <a href="/terms" aria-current="page">Terms of service</a>
        </div>
      </div>
    </footer>

  </body>
</html>
